body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #ffcccb, #ffebcd);
    color: #333;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.container, .message-container {
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
    color: #d5006d; /* Pinkish color */
}

p {
    font-size: 1.2rem;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #ffee00ec;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}

button:hover {
    background-color: #fdf7de; /* Darken the button on hover */
}

.hidden {
    display: none; /* CSS class to hide elements */
}

#extra-message {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #d5006d; /* Match the heading color */
}
.message-container {
    position: relative; /* Ensure buttons move within this container */
    margin-bottom: 20px;
}
@keyframes pop-in {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.animate {
    animation: pop-in 0.5s ease-out; /* Customize duration and easing as needed */
    color: #ff1493; /* Bright pink for the surprise message */
    font-size: 2rem; /* Bigger font for visibility */
}
